@model NewRelativeViewModel

<main class="form-signin w-50 m-auto mt-10">
    <button type="button" onclick="location.href='@Url.Action("GetAllRelatives", "Relatives")'" class="btn btn-outline-secondary me-2">Back</button>
    <form method="post">
        <h3 class="h3 mb-3 fw-normal text-center">Please fill in the form</h3>


        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" id="floatingInput" type="text" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <label asp-for="Surname" class="control-label"></label>
            <input asp-for="Surname" class="form-control" type="text" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Birthday" class="control-label"></label>
            <input asp-for="Birthday" class="form-control" type="date" />
            <span asp-validation-for="Birthday" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Gender">Gender</label><br>
            <input asp-for="Gender" type="radio" name="Gender" value="@Gender.Male">
            <label for="Gender">Male</label><br>
            <input asp-for="Gender" type="radio" name="Gender" value="@Gender.Female">
            <label for="Gender">Female</label><br>

            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>


        <div class="form-group text-center">
            <input type="submit" value="Add relative" class="btn btn-primary" />

        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    </form>
</main>