@model AddBodyViewModel

<main class="form-signin w-50 m-auto mt-10">
    <button type="button" onclick="location.href='@Url.Action("GetAllBodies", "Bodies")'" class="btn btn-outline-secondary me-2">Back</button>
    <form method="post">
        <h3 class="h3 mb-3 fw-normal text-center">Please fill in the form</h3>


        <div class="form-group">
            <label asp-for="Number" class="control-label"></label>
            <input asp-for="Number" class="form-control" id="floatingInput" type="text" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <label asp-for="Boat" class="control-label"></label>
            <input asp-for="Boat" class="form-control" type="text" />
            <span asp-validation-for="Boat" class="text-danger"></span>
        </div>
        <div class="form-group ">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" class="form-control" type="date" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>


        <div class="form-group text-center">
            <input type="submit" value="Add body" class="btn btn-primary" />

        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    </form>
</main>

